body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  text-align: center;
}

.marker {
    position:absolute;
    left: 250px;
    top: 150px; /* Necessary for correct mouse co-ords in Firefox */ 
}

.button {
  margin-bottom: 30px;
}

.button button {
  padding: 10px 20px;
  margin-bottom: 10px; /* Ajout d'une marge inférieure entre les boutons */
  font-size: 16px;
  color: white;
  background-color: #3498db; /* Couleur de fond du bouton */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: #2980b9; /* Couleur de fond du bouton au survol */
}

.prediction_result {
  position: absolute;
  margin-left: 750px; /* Ajoute une marge à gauche pour l'espace visuel */
  top: 150px; /* Necessary for correct mouse co-ords in Firefox */ 
  padding: 50px; /* Ajoute une certaine marge interne pour l'apparence */
}
